<nav>
  <div class="nav-wrapper grey lighten-3">
    <a href="#!" class="brand-logo  black-text">AZUR VERRES</a>
    <ul class="right hide-on-med-and-down ">
      <li><a href="sass.html" class="faceblue-text "><i class="fa fa-facebook-official"></i></a></li>
      <li><a href="sass.html" class="yt-text "><i class="fa fa-youtube"></i></a></li>
      <li><a href="sass.html" class="lkn-text"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="sass.html" class="black-text">Contactez-nous</a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html"><i class="fa fa-youtube"></i>Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>

<script type="text/javascript">
$(".button-collapse").sideNav();

</script>
